In [2]:
import pandas as pd
import numpy as np
import datetime
import os

In [3]:
file = r"C:\Users\domen\Desktop\Data Scraping\v2\CSVs\cleanup9.csv"
df = pd.read_csv(file)
df = df.apply(lambda x: x.astype(str).str.upper())

In [54]:
description = df.describe()
description

,Artist,Album,Location,Song,Length,Tags,Date
count,570957,570957,570957,570957,570957,570957,570957
unique,54458,104245,6121,445192,4255,71548,5505
top,VARIOUS ARTISTS,DEMO,NAN,INTRO,NAN,"['DEVOTIONAL', 'DRUM & BASS', 'ELECTRONIC', 'I...",NAN
freq,4484,1224,22518,1277,262462,3424,32472

In [4]:
df.Location.count()

548439

In [42]:
import perfplot
import string

def sum_mask_song(df,guess):
    return (df.Song.values.lower() == guess.upper()).sum()

def sum_mask_tag(df,guess):
    guess = guess.upper()
    
    #for i in range(0,len(df.Tags.values)):
    for i in range(0,4):
        
        x = df.Tags.values[i].lstrip(('\"['))
        x = x.rstrip(('\]"'))
        x = x.replace("\'","")
        x = x.replace(",","")
        x = x.split()
        #print(x[i])
        #for j in range(0,len(x)):
        for j in range(0,len(x)):
            #print(x[j])
            ans = (x[j] == guess)  
    
    return ans

guesses = ['AMBIENT','rock','rave','metal','folk','indie']

for guess in guesses:
    print(guess)
    ans = sum_mask_tag(df,guess)
    print(guess.upper(),": ",ans)

AMBIENT
AMBIENT :  False
rock
ROCK :  False
rave
RAVE :  False
metal
METAL :  False
folk
FOLK :  False
indie
INDIE :  False

In [60]:
guess = ['AMBIENT', 'EXPERIMENTAL','HEALING']

for i in range(0,1):
    x = df.Tags.values[i].lstrip(('\"['))
    x = x.rstrip(('\]"'))
    x = x.replace("\'","")
    x = x.replace(",","")
    x = x.split()
    for j in range(0,len(x)):
        print(x[j])
        #print(guess)
        y = (x[j] == guess[0], x[j] == guess[1], x[j] == guess[2])        
        print(y)

AMBIENT
(True, False, False)
EXPERIMENTAL
(False, True, False)
HEALING
(False, False, True)
INSTRUMENTAL
(False, False, False)
MANITOU
(False, False, False)
SPRINGS
(False, False, False)